* {
    box-sizing: border-box;
    font-family: arial;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.box {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

.gray {
    background: #777;
}

.top .box {
    float: left;
}

.middle .box {
    clear: both;
}

.bottom .box {
    display: inline-block;
}